#grid{
    background-color: lightseagreen;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
   ;
}
body{
    background-color:lightseagreen;
}
.container{
    position: sticky;
}
#game{
    background-color: lightseagreen; 
}







  

